* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: content-box;
  user-select: none;
  transition: 0.3s all linear;
}

html,
body {
  background: #1e1e1e;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

#spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0;
  height: 0;
  background: rgba(246, 39, 63, 1);
  animation: spiner 1s ease infinite;
}

@keyframes spiner {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 60px;
    height: 60px;
    background: transparent;
  }
}

#main-container {
  display: none;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  background: white;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 0px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 500px) {
  #main-container {
    width: 85%;
  }
}

#avatar {
  background: url("./avatar_me.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  width: 180px;
  height: 180px;
  display: block;
  border-radius: 50%;
  margin: 30px auto;
  cursor: pointer;
  animation: loadingx 3s infinite linear;
  /* box-shadow:
        0 0 0 5px rgba(246, 39, 63, 1),
        0 0 0 15px rgba(247, 36, 60, 0.2),
        0 0 0 25px rgba(246, 39, 63, 0.1); */
}

#avatar:active {
  outline: none;
}

@keyframes loadingx {
  0% {
    box-shadow: 0 0 0 5px rgba(246, 39, 63, 1), 0 0 0 5px rgba(247, 36, 60, 0.2),
      0 0 0 5px rgba(246, 39, 63, 0.1);
  }

  25% {
    box-shadow: 0 0 0 5px rgba(246, 39, 63, 1),
      0 0 0 15px rgba(247, 36, 60, 0.2), 0 0 0 22px rgba(246, 39, 63, 0.1);
  }

  50% {
    box-shadow: 0 0 0 5px rgba(246, 39, 63, 1),
      0 0 0 15px rgba(247, 36, 60, 0.2), 0 0 0 25px rgba(246, 39, 63, 0.1);
  }

  75% {
    box-shadow: 0 0 0 5px rgba(246, 39, 63, 1),
      0 0 0 15px rgba(247, 36, 60, 0.2), 0 0 0 14px rgba(246, 39, 63, 0.1);
  }

  100% {
    box-shadow: 0 0 0 5px rgba(246, 39, 63, 1), 0 0 0 5px rgba(247, 36, 60, 0.2),
      0 0 0 5px rgba(246, 39, 63, 0.1);
  }
}

#username {
  text-align: center;
  margin: 10px;
  color: #303030;
}

.status {
  font-size: 16px;
  margin: 8px;
  color: #1771e6;
}

#descriptions {
  color: #8e8e8e;
  text-align: center;
}

#contacts ul {
  display: flex;
  justify-content: center;
}

#contacts li {
  margin: 20px;
}

#contacts a {
  color: #303030;
  font-size: 20px;
  cursor: pointer;
  transition: unset;
  text-decoration: none;
}

#follow {
  padding: 10px 30px;
  margin: 10px auto;
  display: block;
  border-radius: 28px;
  font-weight: bold;
  color: #8f8e8e;
  border: 2px solid rgba(246, 39, 63, 1);
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
}

#follow:hover {
  background: rgba(246, 39, 63, 1);
  /* border-color: rgba(246, 39, 63, 1); */
  color: white;
}

/* BANNER STYLE */
img {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: load-img 3s linear infinite;
}

.banner,
.mini-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 234.5px;
  height: 234.5px;
  user-select: none;
  cursor: pointer;
}

.mini-banner {
  border-radius: 483px 200px 400px 500px / 361px 678px 256px 600px;
  animation: mini-load 3s linear infinite;
  background: rgba(247, 246, 249, 0.674);
}

.banner {
  border-radius: 572px 670px 926px 752px / 870px 710px 593px 600px;
  animation: load 3s linear infinite;
  background: rgba(118, 26, 222, 0.211);
}

.zoom-out {
  border-radius: 50%;
  background: rgba(247, 246, 249, 0.674);
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: zoom 1s linear 3 forwards;
}

@keyframes zoom {
  0% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: 400px;
    height: 400px;
    background: transparent;
  }
}

@keyframes load {
  0% {
    border-radius: 572px 670px 926px 752px / 870px 710px 593px 600px;
    width: 234.5px;
    height: 234.5px;
  }

  20% {
    border-radius: 500px 400px 400px 500px / 400px 600px 600px 300px;
  }

  50% {
    width: 300px;
    height: 300px;
  }

  100% {
    width: 234.5px;
    height: 234.5px;
    border-radius: 572px 670px 926px 752px / 870px 710px 593px 600px;
  }
}

@keyframes mini-load {
  0% {
    border-radius: 483px 200px 400px 500px / 361px 678px 256px 600px;
  }

  20% {
    width: 234.5px;
    height: 234.5px;
  }

  50% {
    width: 260px;
    height: 260px;
    border-radius: 200px 500px 500px 400px / 600px 500px;
  }

  100% {
    width: 234.5px;
    height: 234.5px;
    border-radius: 483px 200px 400px 500px / 361px 678px 256px 600px;
  }
}

@keyframes load-img {
  0% {
    width: 234.5px;
  }

  50% {
    width: 250px;
  }

  100% {
    width: 234.5px;
  }
}

@media (max-width: 768px) {
  img {
    width: 30vw;
  }

  .banner,
  .mini-banner {
    width: 30vw;
    height: 30vw;
  }
  /* KEY FRAMES */
  @keyframes zoom {
    0% {
      width: 0px;
      height: 0px;
    }

    100% {
      width: 280px;
      height: 280px;
      background: transparent;
    }
  }

  @keyframes load {
    0% {
      border-radius: 572px 670px 926px 752px / 870px 710px 593px 600px;
      width: 30vw;
      height: 30vw;
    }

    20% {
      border-radius: 500px 400px 400px 500px / 400px 600px 600px 300px;
    }

    50% {
      width: 40vw;
      height: 40vw;
    }

    100% {
      width: 30vw;
      height: 30vw;
      border-radius: 572px 670px 926px 752px / 870px 710px 593px 600px;
    }
  }

  @keyframes mini-load {
    0% {
      border-radius: 483px 200px 400px 500px / 361px 678px 256px 600px;
    }

    20% {
      width: 30vw;
      height: 30vw;
    }

    50% {
      width: 35vw;
      height: 35vw;
      border-radius: 200px 500px 500px 400px / 600px 500px;
    }

    100% {
      width: 30vw;
      height: 30vw;
      border-radius: 483px 200px 400px 500px / 361px 678px 256px 600px;
    }
  }

  @keyframes load-img {
    0% {
      width: 30vw;
    }

    50% {
      width: 33vw;
    }

    100% {
      width: 30vw;
    }
  }

  /* KEY FRAMES */
}
